[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shell = "*"
django = "*"
django-extensions = "*"
uwsgi = "*"

[dev-packages]
awsebcli = "*"
django-extensions = "*"

[requires]
python_version = "3.6"
