[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shell = "*"
django = "*"
django-extensions = "*"
uwsgi = "*"
django-storages = "*"
"psycopg2-binary" = "*"
pillow = "*"
"boto3" = "*"

[dev-packages]
awsebcli = "*"
django-extensions = "*"
ipython = "*"

[requires]
python_version = "3.6"
